body, div, canvas, html {
    margin: 0;
    padding: 0;
}

button, input, textarea {
	outline: none;
}

::selection {
	background: black;
	color: white;
}

::-moz-selection {
	background: black;
	color: white;
}

#main {
	background-color: black; 
	overflow: hidden;
}

#main-canvas {
	position: absolute;
}

#chat-box {
	position: absolute; 
	top: 30px;
	resize: none;
	width: 250px;
}

#chat-input {
	position: absolute;
	font-family: Consolas; 
	top: 570px;
}

#inventory {
	position: absolute; 
	top: 30px;
	resize: none;
	width: 250px;
}

#character {
	position: absolute; 
	top: 30px;
	width: 250;
	height: 200;
}

button {
	position: absolute; 
	background-color: black; 
	color: white;
	font: 20px Consolas;
}

#toggle-chat {
	width: 60px; 
	left: 0px;
}

#toggle-inventory {
	width: 120px;
	left: 60px;
}

#toggle-character {
	width: 115px;
	left: 180px;
}